body {
   font-family: "Noto Sans KR", sans-serif;
   background-color: antiquewhite;
   padding-top: 50px;
}
.page{
   height: 100vh;
   margin:0 auto;
   padding: 50px;
   background-color: white;
   max-width: 1024px;
   @media (max-width: 1024px) {  
      width: auto;
   }
}

div{
   border: 1px solid crimson;
}

header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
}

.flipster-card{
   width: 15vw; 
   height:15vw;
   @media (max-width: 1024px) { 
      min-width: 150px;
      min-height: 150px;
      width: 25vw; 
      height:25vw;
   }
}