body {
  padding-top: 40px;
  /* 생략 */
}

div{
    border: 1px solid red;
}

/*  각 세션 설정 */
.section {
    position: relative;
    height: 600px;
    padding: 1rem;
}
/* 각 세션 제목 설정 */
.title{
    text-align:left;
}

/* 세션 - About */
.section-About {
    height: auto;

    .information{
        display: flex;
        text-align: center;
        justify-content: center;
        max-height: auto;

        .profile-img img{
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid red;
            aspect-ratio: 1 / 1;
        } 
        .profile-text{  
            display: block; 
            text-align:center;  
            margin-left: 30px;
            padding: 100px 0px;

            .social-icons{
                margin: 0 auto;
                max-width: 70%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .bi{
                    font-size: 22px;
                    line-height: 22px;
                }
            }
        }

    }  

    @media ( max-width: 767px ) {
        .information{
            display: block;
            position: relative;
            height: auto;
            text-align:center; 

            .profile-img img{
                width: 30%;
                max-width: 40%;
                height: auto;
                object-fit: cover;
                border-radius: 50%;
                vertical-align: middle;
                border: 1px solid red;
                aspect-ratio: 1 / 1;
            }

            .profile-text{   
                margin-left: 0px;
                padding: 0px;

                .social-icons{
                    margin: 0 auto;
                    max-width: 40%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .bi{
                        font-size: 15px;
                        line-height: 15px;
                    }
                }
            }
        }  
    }    
}



.section-Experience {
    position: relative;
    height: 600px;
}

.section-Skill {
    position: relative;
    height: 600px;
}

.section-Project {
    position: relative;
    height: auto; 

    .card{
        flex-direction: row;
        width: 30rem;
    }
    
    .card .card-body{
        position: absolute;
        right: 0px;
        bottom: 0px;
        width :inherit;
        padding: 10px;
        .card-title{
            margin-bottom: 3px;
        }
        .card-text{
            margin-bottom: 3px;
        }
    }

    .card img{
            width: 40rem;
    }
    @media ( max-width: 767px ) {

        .card{
            flex-direction: column; /*수직 정렬*/
            width: 18rem;
        }
        .card img{
            width: 18rem;
        }

        .card .card-body{
            position: relative;
        }

    }

}

.section-Posting {
    position: relative;
    height: 600px;
}



