<a href="/blog.html" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
  <!-- <img class="p-0" src="assets/img/raccoon-32.png" style="height:30xp; width: 30px;"> -->
  <span class="fs-5 fw-semibold ms-1">SeungHyeon' Blog</span>
</a>
<ul class="list-unstyled ps-0">
  <!-- 메뉴 1 : 개인적인 부분 -->
  <li class="mb-1">
    <p class="m-0 d-inline-flex align-items-center rounded border-0  menu-head">Home</p>
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" onclick="move('/templates/blogs/java/intro.html')">Intoduction</a>
      </li>
    </ul>
  </li>
  <li class="border-top my-1"></li>
  <!-- 메뉴 2 : 자바에 대한 부분 -->
  <li class="mb-1">
    <p class="m-0 d-inline-flex align-items-center rounded border-0 menu-head">Java</p>
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" onclick="move('/templates/blogs/java/intro.html')">Intoduction</a>
      </li>
      <li>
        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" onclick="move('/templates/blogs/java/basic.html')">Basic</a>
      </li>
      <li>
        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" onclick="move('/templates/blogs/java/grammar1.html')">Grammer(1)</a>
      </li>
      <li>
        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" onclick="move('/templates/blogs/java/grammar2.html')">Grammer(2)</a>
      </li>
      <li>
        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" onclick="move('/templates/blogs/java/grammar3.html')">Grammer(3)</a>
      </li>
      <li>
        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" onclick="move('/templates/blogs/java/oop.html')">Object-Oriented Programming</a>
      </li>
    </ul>
  </li>
  <li class="border-top my-3"></li>
  <li class="mb-1">
    <p class="m-0 d-inline-flex align-items-center rounded border-0  menu-head">Home</p>
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" onclick="move('/templates/blogs/java/intro.html')">Intoduction</a>
      </li>
    </ul>
  </li>
</ul>
